In [1]:
import pandas as pd

In [34]:
dfCapteur = pd.read_csv('analyse4-ECN0811.txt', skiprows=4, delimiter='\t', skipfooter=1)

/Users/mathis/Desktop/Centrale_Nantes/EI4/Cours/VN/INPRO/python/venv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [35]:
dfCapteur.drop('Unnamed: 9', axis = 1, inplace=True)

In [36]:
dfCapteur

,date beginning,time beginning,date end,time end,relative time [s],PMtotal_classic -,PM1_classic -,PM2.5_classic -,PM4_classic -
0,08/11/2021,08:22:32,08/11/2021,08:22:33,"0,00","0,27","0,27","0,27","0,27"
1,08/11/2021,08:22:33,08/11/2021,08:22:34,"1,00","1,25","0,68","1,24","1,25"
2,08/11/2021,08:22:34,08/11/2021,08:22:35,"1,98","0,36","0,35","0,36","0,36"
3,08/11/2021,08:22:35,08/11/2021,08:22:36,"2,98","0,37","0,37","0,37","0,37"
4,08/11/2021,08:23:03,08/11/2021,08:23:04,"30,98","0,37","0,37","0,37","0,37"
...,...,...,...,...,...,...,...,...,...
9995,08/11/2021,11:13:46,08/11/2021,11:13:47,"10273,81","2,20","0,74","2,12","2,20"
9996,08/11/2021,11:13:47,08/11/2021,11:13:48,"10274,81","2,35","0,97","2,30","2,35"
9997,08/11/2021,11:13:48,08/11/2021,11:13:49,"10275,83","7,66","1,42","7,09","7,66"
9998,08/11/2021,11:13:49,08/11/2021,11:13:50,"10276,81","2,47","0,94","2,38","2,47"
9999,08/11/2021,11:13:50,08/11/2021,11:13:51,"10277,81","2,88","1,63","2,85","2,88"

In [59]:
dfWeather = pd.read_csv('Potenvol_sable_50.pot', skiprows=14, delimiter=';', header=0)

In [60]:
# Remove space at the end of heure
dfWeather['heure'] = dfWeather['heure'].apply(lambda x: x.strip())

In [61]:
dfWeather

,Chrono,heure,T [Â°C),HR [%).,Pression [mBar),Vit. Vent [m/s),Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),PMTot[Âµm),PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15
0,0,10:43:53,"11,2","76,7","1022,4","0,3",44,"261,5",2,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
1,1,10:43:54,"11,2","76,7","1022,4","0,52",93,"261,6","0,44","0,00","0,00","0,00","0,00","0,00","0,00",NaN
2,2,10:43:55,"11,2","76,7","1022,4","0,71",87,"261,5","1,76","0,00","0,00","0,00","0,00","0,00","0,00",NaN
3,3,10:43:56,"11,1","76,7","1022,4","1,15",89,"261,6",2,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
4,4,10:43:57,"11,1","76,7","1022,4","0,72",55,"261,7",2,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,150,10:46:23,"11,3","77,1","1022,4","0,68",161,"270,9",2,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
151,151,10:46:24,"11,3","77,1","1022,4","0,47",160,"270,9",2,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
152,152,10:46:25,"11,3","77,1","1022,4","0,37",168,271,2,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
153,153,10:46:26,"11,3","77,1","1022,4","0,56",145,271,2,"0,00","0,00","0,00","0,00","0,00","0,00",NaN
154,154,10:46:27,"11,3","77,1","1022,4","0,54",108,"271,1",2,"0,00","0,00","0,00","0,00","0,00","0,00",NaN

In [42]:
dfFinal = dfWeather.merge(how='inner', right=dfCapteur, left_on='heure', right_on='time beginning', )

In [43]:
dfFinal

,Chrono,heure,T [Â°C),HR [%).,Pression [mBar),Vit. Vent [m/s),Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),...,Unnamed: 15,date beginning,time beginning,date end,time end,relative time [s],PMtotal_classic -,PM1_classic -,PM2.5_classic -,PM4_classic -
0,0,10:43:53,"11,2","76,7","1022,4","0,3",44,"261,5",2,"0,00",...,NaN,08/11/2021,10:43:53,08/11/2021,10:43:54,"8480,81","9254,29","49,17","528,87","1996,28"
1,1,10:43:54,"11,2","76,7","1022,4","0,52",93,"261,6","0,44","0,00",...,NaN,08/11/2021,10:43:54,08/11/2021,10:43:55,"8481,81","17344,57","67,63","604,34","2674,27"
2,2,10:43:55,"11,2","76,7","1022,4","0,71",87,"261,5","1,76","0,00",...,NaN,08/11/2021,10:43:55,08/11/2021,10:43:56,"8482,81","6930,43","53,66","601,25","1878,85"
3,3,10:43:56,"11,1","76,7","1022,4","1,15",89,"261,6",2,"0,00",...,NaN,08/11/2021,10:43:56,08/11/2021,10:43:57,"8483,81","10017,00","39,70","390,78","1525,43"
4,4,10:43:57,"11,1","76,7","1022,4","0,72",55,"261,7",2,"0,00",...,NaN,08/11/2021,10:43:57,08/11/2021,10:43:58,"8484,80","16746,45","54,06","444,37","1511,75"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,150,10:46:23,"11,3","77,1","1022,4","0,68",161,"270,9",2,"0,00",...,NaN,08/11/2021,10:46:23,08/11/2021,10:46:24,"8631,12","915,73","3,05","16,02","100,17"
152,151,10:46:24,"11,3","77,1","1022,4","0,47",160,"270,9",2,"0,00",...,NaN,08/11/2021,10:46:24,08/11/2021,10:46:25,"8632,12","422,14","3,09","22,23","48,24"
153,152,10:46:25,"11,3","77,1","1022,4","0,37",168,271,2,"0,00",...,NaN,08/11/2021,10:46:25,08/11/2021,10:46:26,"8633,12","40,51","1,33","3,52","25,55"
154,153,10:46:26,"11,3","77,1","1022,4","0,56",145,271,2,"0,00",...,NaN,08/11/2021,10:46:26,08/11/2021,10:46:27,"8634,11","32,35","3,07","19,19","30,63"
155,154,10:46:27,"11,3","77,1","1022,4","0,54",108,"271,1",2,"0,00",...,NaN,08/11/2021,10:46:27,08/11/2021,10:46:28,"8635,11","5,14","2,76","5,04","5,14"

In [44]:
dfFinal.columns

Index(['Chrono', 'heure', 'T [Â°C)', 'HR [%).', 'Pression [mBar)',
       'Vit. Vent [m/s)', 'Dir. Vent [Â°)', 'Lumi [W/mÂ²)', 'POM [Km).',
       'CN[P/cm3)', 'PMTot[Âµm)', 'PM1[Âµm)', 'PM2.5[Âµm)', 'PM4[Âµm)', 'PM10[Âµm)',
       'Unnamed: 15', 'date beginning', 'time beginning', 'date end',
       'time end', 'relative time [s]', 'PMtotal_classic - ', 'PM1_classic - ',
       'PM2.5_classic - ', 'PM4_classic - '],
      dtype='object')

In [45]:
dfFinal['PM1[Âµm)'] = dfFinal['PM1_classic - ']

In [46]:
dfFinal['PM2.5[Âµm)'] = dfFinal['PM2.5_classic - ']

In [47]:
dfFinal['PM4[Âµm)'] = dfFinal['PM4_classic - ']

In [48]:
dfFinal['PMTot[Âµm)'] = dfFinal['PMtotal_classic - ']

In [49]:
dfFinal.drop(['PM1_classic - ', 'PM2.5_classic - ', 'PM4_classic - ', 'PMtotal_classic - '], axis = 1, inplace=True)

In [50]:
dfFinal

,Chrono,heure,T [Â°C),HR [%).,Pression [mBar),Vit. Vent [m/s),Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),...,PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15,date beginning,time beginning,date end,time end,relative time [s]
0,0,10:43:53,"11,2","76,7","1022,4","0,3",44,"261,5",2,"0,00",...,"49,17","528,87","1996,28","0,00",NaN,08/11/2021,10:43:53,08/11/2021,10:43:54,"8480,81"
1,1,10:43:54,"11,2","76,7","1022,4","0,52",93,"261,6","0,44","0,00",...,"67,63","604,34","2674,27","0,00",NaN,08/11/2021,10:43:54,08/11/2021,10:43:55,"8481,81"
2,2,10:43:55,"11,2","76,7","1022,4","0,71",87,"261,5","1,76","0,00",...,"53,66","601,25","1878,85","0,00",NaN,08/11/2021,10:43:55,08/11/2021,10:43:56,"8482,81"
3,3,10:43:56,"11,1","76,7","1022,4","1,15",89,"261,6",2,"0,00",...,"39,70","390,78","1525,43","0,00",NaN,08/11/2021,10:43:56,08/11/2021,10:43:57,"8483,81"
4,4,10:43:57,"11,1","76,7","1022,4","0,72",55,"261,7",2,"0,00",...,"54,06","444,37","1511,75","0,00",NaN,08/11/2021,10:43:57,08/11/2021,10:43:58,"8484,80"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,150,10:46:23,"11,3","77,1","1022,4","0,68",161,"270,9",2,"0,00",...,"3,05","16,02","100,17","0,00",NaN,08/11/2021,10:46:23,08/11/2021,10:46:24,"8631,12"
152,151,10:46:24,"11,3","77,1","1022,4","0,47",160,"270,9",2,"0,00",...,"3,09","22,23","48,24","0,00",NaN,08/11/2021,10:46:24,08/11/2021,10:46:25,"8632,12"
153,152,10:46:25,"11,3","77,1","1022,4","0,37",168,271,2,"0,00",...,"1,33","3,52","25,55","0,00",NaN,08/11/2021,10:46:25,08/11/2021,10:46:26,"8633,12"
154,153,10:46:26,"11,3","77,1","1022,4","0,56",145,271,2,"0,00",...,"3,07","19,19","30,63","0,00",NaN,08/11/2021,10:46:26,08/11/2021,10:46:27,"8634,11"
155,154,10:46:27,"11,3","77,1","1022,4","0,54",108,"271,1",2,"0,00",...,"2,76","5,04","5,14","0,00",NaN,08/11/2021,10:46:27,08/11/2021,10:46:28,"8635,11"

In [51]:
dfFinal.to_csv('finalData.csv', sep='\t')

In [54]:
df2 = pd.read_csv('finalData.csv', sep='\t', index_col=0)

In [62]:
df2

,Chrono,heure,T [Â°C),HR [%).,Pression [mBar),Vit. Vent [m/s),Dir. Vent [Â°),Lumi [W/mÂ²),POM [Km).,CN[P/cm3),...,PM1[Âµm),PM2.5[Âµm),PM4[Âµm),PM10[Âµm),Unnamed: 15,date beginning,time beginning,date end,time end,relative time [s]
0,0,10:43:53,"11,2","76,7","1022,4","0,3",44,"261,5",2,"0,00",...,"49,17","528,87","1996,28","0,00",NaN,08/11/2021,10:43:53,08/11/2021,10:43:54,"8480,81"
1,1,10:43:54,"11,2","76,7","1022,4","0,52",93,"261,6","0,44","0,00",...,"67,63","604,34","2674,27","0,00",NaN,08/11/2021,10:43:54,08/11/2021,10:43:55,"8481,81"
2,2,10:43:55,"11,2","76,7","1022,4","0,71",87,"261,5","1,76","0,00",...,"53,66","601,25","1878,85","0,00",NaN,08/11/2021,10:43:55,08/11/2021,10:43:56,"8482,81"
3,3,10:43:56,"11,1","76,7","1022,4","1,15",89,"261,6",2,"0,00",...,"39,70","390,78","1525,43","0,00",NaN,08/11/2021,10:43:56,08/11/2021,10:43:57,"8483,81"
4,4,10:43:57,"11,1","76,7","1022,4","0,72",55,"261,7",2,"0,00",...,"54,06","444,37","1511,75","0,00",NaN,08/11/2021,10:43:57,08/11/2021,10:43:58,"8484,80"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,150,10:46:23,"11,3","77,1","1022,4","0,68",161,"270,9",2,"0,00",...,"3,05","16,02","100,17","0,00",NaN,08/11/2021,10:46:23,08/11/2021,10:46:24,"8631,12"
152,151,10:46:24,"11,3","77,1","1022,4","0,47",160,"270,9",2,"0,00",...,"3,09","22,23","48,24","0,00",NaN,08/11/2021,10:46:24,08/11/2021,10:46:25,"8632,12"
153,152,10:46:25,"11,3","77,1","1022,4","0,37",168,271,2,"0,00",...,"1,33","3,52","25,55","0,00",NaN,08/11/2021,10:46:25,08/11/2021,10:46:26,"8633,12"
154,153,10:46:26,"11,3","77,1","1022,4","0,56",145,271,2,"0,00",...,"3,07","19,19","30,63","0,00",NaN,08/11/2021,10:46:26,08/11/2021,10:46:27,"8634,11"
155,154,10:46:27,"11,3","77,1","1022,4","0,54",108,"271,1",2,"0,00",...,"2,76","5,04","5,14","0,00",NaN,08/11/2021,10:46:27,08/11/2021,10:46:28,"8635,11"